.App {
  text-align: center;
}

/* .body{
  background-image: url('./images/realbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
} */

.home-box{
  width: 150px;
  height: 35px;
  background-color:FFFEFE;
  border-radius: 12px;
  position: absolute;
  top: 34px;
  right: 1032px;
}

.home-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}

.about-box{
  width: 150px;
  height: 35px;
  background-color:FFFEFE;
  border-radius: 12px;
  /* position: absolute; */
  top: 34px;
  right: 870px;
}

.about-text{
  position:absolute;
  top: 5.5%;
  left: 47.2%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}

.application-box{
  width: 250px;
  height: 35px;
  background-color:blue;
  border-radius: 12px;
  /* position: absolute; */
  top: 34px;
  right: 500px;
}

.application-text{
  position:absolute;
  top: 5.5%;
  left: 64.5%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}

.resource-box{
  width: 250px;
  height: 35px;
  background-color:blue;
  border-radius: 12px;
  /* position: absolute; */
  top: 34px;
  right: 500px;
}

.resource-text{
  position:absolute;
  top: 5.5%;
  left: 79.5%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}

.contact-box{
  width: 250px;
  height: 35px;
  background-color:blue;
  border-radius: 12px;
  /* position: absolute; */
  top: 34px;
  right: 500px;
}

.contact-text{
  position:absolute;
  top: 5.5%;
  left: 90.5%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}

.top-left-logo{
position: absolute;
top: -48px;
left: -8px;
width: 2x;
height:22%;
z-index: 1;
}

/* .new-member-res{
  width: 750px;
  height: 35px;
  background-color: #f3f2f2;
  border-radius: 12px;
  top: 760px;
  right: 800px;
}

.new-member-res-text{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: black;
  text-align: center;
} */

.new-member-button{
position: absolute;
top: 800px;
left: 630px;
width: 2x;
height:7%;
z-index: 1;
}

.welcome-text{
  position: absolute;
  top: 240px;
  left: 362px;
  width: 2x;
  height:40%;
  z-index: 1;
}

.welcomesubtitle-text{
  position:absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-style:normal;
  color:#122F0F;
}