/* .App {
  text-align: center;
} */

/* .body{
  background-image: url('./images/realbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
} */

.home-box{
  width: 150px;
  height: 35px;
  background-color:FFFEFE;
  border-radius: 12px;
  position: absolute;
  top: 34px;
  right: 1060px;
}

.home-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}

.about-box{
  width: 150px;
  height: 35px;
  background-color:FFFEFE;
  border-radius: 12px;
  /* position: absolute; */
  top: 34px;
  right: 870px;
}

.about-text{
  position:absolute;
  top: 5.5%;
  left: 45.5%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}

.application-box{
  width: 250px;
  height: 35px;
  background-color:blue;
  border-radius: 12px;
  /* position: absolute; */
  top: 34px;
  right: 500px;
}

.application-text{
  position:absolute;
  top: 5.5%;
  left: 62.5%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}

.resource-box{
  width: 250px;
  height: 35px;
  background-color:blue;
  border-radius: 12px;
  /* position: absolute; */
  top: 34px;
  right: 500px;
}

.resource-text{
  position:absolute;
  top: 5.5%;
  left: 78%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}

.contact-box{
  width: 250px;
  height: 35px;
  background-color:blue;
  border-radius: 12px;
  /* position: absolute; */
  top: 34px;
  right: 500px;
}

.contact-text{
  position:absolute;
  top: 5.5%;
  left: 90.5%;
  transform: translate(-50%, -50%);
  font-size: 33px;
  font-style: italic;
  color:black;
}